body {
    --header-width: 3.5em;
    --main-color: #70CC6B;
    --secondary-color-1: #A0CC6B;
    --secondary-color-2: #CCC76B;
    --complementary-color: #976BCC;
    background-color: var(--main-color);
    margin: 0px;
}

#header {
   position: fixed; 
   font-family: Lora, serif;
   height: var(--header-width);
   background-color: var(--secondary-color-1);
   top: 0px;
   font-weight: bold;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: stretch;
   width: 100vw;
   z-index: 1;
}
main {
    position: relative;
    top: var(--header-width);
}

#header-logo {
    flex: 1 1 auto;
}

#header-img {
    width: var(--header-width);
    height: var(--header-width);
}

#nav-bar {
    flex: 2 2 auto;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 500px){
    #header-logo {
        flex: 1 1 auto;
    }
    
    #nav-bar {
        flex: 2 2 auto;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.nav-link-box {
    width: 33.33%;
    text-align: center;
}

#product-title {
    text-align: center;
    font-family: Lora, serif;
}

#description {
    font-family: Roboto, sans-serif;
    /* border: solid; */
}

#description h2 {
    text-align: center;
    font-family: Lora, serif;
}

#product-description {
    text-align: center;
}

.tea-type {
    padding-left: 1em;
}

blockquote {
    font-style: italic;
}



#video {
    display: block;
    margin: auto;
}

li {
    list-style: none;
}

.nav-link-box a {
    text-decoration: none;
    color: black;
}

#form {
    text-align: center;
    /* border: solid; */
    margin: 2em;
    height: 2em;
}

#form label{
    font-size: 1.1em;
}

.submit-btn {
    background: var(--secondary-color-2);
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
    border-style: none;
}

#email {
    height: 100%;
    border-radius: 5px;
    border-style: none;
    font-size: 1.1em;
}

#citation {
    font-size: 0.8em;
    position: relative;
    top: var(--header-width);
}
@media (max-width: 500px) {
    #citation{
        font-size: 0.8em;
        position: relative;
        top: calc(2em + var(--header-width));
    }
}
